.design-cards{
	width: 100%;
	background: transparent;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	
	
}
.design-cards img{
	width: 100%;
	border: 1px solid #131419;
}
.design-info{
	display: flex;
	width: 100%;
	padding: 6px;
	color: #fff;
	background: rgba(0,0,0,0.9);
	
}
.design-info img{
	width: 12%;
	height: 12%;
	border-radius: 100%;
  margin-left: 10px;
	border: 1px solid #fff;
	
}
.design-info ul{
	margin-left: 10px;
	list-style: none;
	
}
.design-info ul li{
	padding: 2px;
	font-weight: 200;
	
}
.design-info ul li h6{
	font-weight: 300;
	font-size: 8px;
	
}
